[submodule "PFPL"]
	path = PFPL
	url = https://github.com/BingluCS/PFPL.git
[submodule "SZ3"]
	path = SZ3
	url = https://github.com/BingluCS/SZ3.git
[submodule "SPERR"]
	path = SPERR
	url = https://github.com/BingluCS/SPERR.git
[submodule "MGARD"]
	path = MGARD
	url = https://github.com/CODARcode/MGARD.git
[submodule "SZo"]
	path = SZo
	url = https://github.com/BingluCS/SZo.git
[submodule "zfp"]
	path = zfp
	url = https://github.com/BingluCS/zfp.git
